.tabela {
  border: black 1px solid;
  width: 500px;
  font-family: "franklin-gothic-medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;


  }
.titulo-tabelas {
  font-size: 20px;
}
.texto-tabela{
  font-size: 16px;
  border: #000 1px solid;
}

td{
  border: #000 1px solid;
  text-align: center;
}

.pessoa{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
