

<section class="valor">

  <table class="tabela">
    <tr>
      <th class="titulo-tabelas">Nome: </th>
      <th class="titulo-tabelas">Ano: </th>
    </tr>
    <tr class="texto-tabela" *ngFor="let carro of listacarro">
      <td>{{carro.nome}} </td>
      <td>{{carro.ano}} </td>
      <td class="ajustaBotoes">
        <input class="edit" type="button" value="Editar" (click)="openModal(content, carro)">
        <input class="delete" type="button" value="Deletar" (click)="delete(carro)">
      </td>
    </tr>
  </table>
</section>
<div class="divCadastrar" >
  <input class="cadastrar" type="button" value="Cadastrar novo" (click)="openModalCadastrar(content, -1)">
</div>

<ng-template #content let-modal>
  <div class="modal-header"><h4 class="modal-title" *ngIf="editar">Editar</h4>
    <h4 class="modal-title" *ngIf="!editar">Cadastrar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-carrodetails [injetaCarro]="enviarCarro" (retorno)="addCarro($event)"></app-carrodetails>
  </div>

</ng-template>
