<section class="valor">
  <table class="tabela">
    <tr>
      <th class="titulo-tabelas">Nome: </th>
      <th class="titulo-tabelas">Ano: </th>
      <th class="titulo-tabelas"> Editar</th>
    </tr>
    <tr class="texto-tabela" *ngFor="let livro of listalivros">
      <td>{{livro.titulo}} </td>
      <td>{{livro.autor}} </td>
      <td class="ajustaBotoes">
        <input class="edit" type="button" value="Editar" (click)="openModal(content, livro)">
        <input class="delete" type="button" value="Deletar" (click)="delete(livro)">
      </td>
    </tr>
  </table>



</section>
<div class="divCadastrar" >
<input class="cadastrar" type="button" value="Cadastrar novo" (click)="OpenModalCadastrar(content)">
</div>

<ng-template #content let-modal>
  <div class="modal-header"><h4 class="modal-title" *ngIf="editar">Editar</h4>
    <h4 class="modal-title" *ngIf="!editar">Cadastrar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-livrodetail [injetaLivro]="enviarLivro" (retorno)="addLivro($event)"></app-livrodetail>
  </div>

</ng-template>
